body{
    padding: 20% 20%;
    background-color: rgb(1, 31, 90);
}
.grid{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
main{
    color: aqua;
    padding: 30px 30px;
    grid-template-columns: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px ;
    box-shadow: 0 8px 32px 0 rgb(0,0,0,0.37);
}
.btn{
    background-color:aqua;
    border: 1px solid;
    color: rgb(44, 44, 44);
}
.padded{
    padding: 5px 5px;
}
.hide{
    display: none;
    visibility: hidden;
    opacity: 0;
}
#solution{
    border: 5px solid rgb(24, 55, 117);
    padding: 10px;
    height: 100px;
}